In [33]:
import pandas as pd
data=pd.read_csv('C:/Users/042300/Desktop/data/data_berka/trans.asc',sep=';')
data=data.drop(['trans_id','account'],axis=1)
data=data.dropna(how='any')
data

C:\Users\042300\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,account_id,date,type,operation,amount,balance,k_symbol,bank
15,2177,930105,PRIJEM,PREVOD Z UCTU,5123.0,5923.0,DUCHOD,YZ
24,1972,930107,PRIJEM,PREVOD Z UCTU,5298.0,5698.0,DUCHOD,UV
46,3592,930110,PRIJEM,PREVOD Z UCTU,6007.0,6607.0,DUCHOD,MN
49,576,930111,PRIJEM,PREVOD Z UCTU,6207.0,7107.0,DUCHOD,YZ
53,2357,930112,PRIJEM,PREVOD Z UCTU,6434.0,7234.0,DUCHOD,OP
...,...,...,...,...,...,...,...,...
1047131,8564,981214,VYDAJ,PREVOD NA UCET,7170.0,94170.1,SIPO,UV
1047135,1681,981214,VYDAJ,PREVOD NA UCET,8550.0,60559.8,SIPO,UV
1047136,1672,981214,VYDAJ,PREVOD NA UCET,3898.0,52169.8,SIPO,ST
1047137,1773,981214,PRIJEM,PREVOD Z UCTU,4316.0,17215.9,DUCHOD,CD
1047140,1767,981214,VYDAJ,PREVOD NA UCET,2266.0,73784.4,SIPO,ST

In [34]:
data.shape

(230465, 8)

In [35]:
cat=['account_id','date','type','operation','k_symbol','bank']
conti=['amount','balance']

In [36]:
# fit the OrdinalEncoder on entire dataset
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder()
oe.fit(data[cat])

OrdinalEncoder(categories='auto', dtype=<class 'numpy.float64'>)

In [37]:
# split data into training set and testing set
from sklearn.model_selection import train_test_split
train, test = train_test_split(data,test_size=0.3)
# convert training categorical features to numeric 
train_cat=oe.transform(train[cat])
train_cat

array([[1.492e+03, 1.070e+02, 0.000e+00, 1.000e+00, 1.000e+00, 2.000e+00],
       [2.377e+03, 5.660e+02, 1.000e+00, 0.000e+00, 3.000e+00, 5.000e+00],
       [5.100e+02, 6.100e+02, 1.000e+00, 0.000e+00, 3.000e+00, 1.100e+01],
       ...,
       [3.359e+03, 4.430e+02, 1.000e+00, 0.000e+00, 4.000e+00, 2.000e+00],
       [2.569e+03, 6.590e+02, 0.000e+00, 1.000e+00, 1.000e+00, 7.000e+00],
       [8.770e+02, 2.760e+02, 1.000e+00, 0.000e+00, 0.000e+00, 6.000e+00]])

In [44]:
# concate categorical features and continous features for training set
import numpy as np
train_oe=np.append(train_cat,train[conti],axis=1)
train_oe

(161325, 8)

array([[1.49200e+03, 1.07000e+02, 0.00000e+00, ..., 2.00000e+00,
        5.28000e+03, 2.22953e+04],
       [2.37700e+03, 5.66000e+02, 1.00000e+00, ..., 5.00000e+00,
        1.59900e+03, 2.85490e+04],
       [5.10000e+02, 6.10000e+02, 1.00000e+00, ..., 1.10000e+01,
        1.11600e+03, 2.11628e+04],
       ...,
       [3.35900e+03, 4.43000e+02, 1.00000e+00, ..., 2.00000e+00,
        5.81350e+03, 5.70434e+04],
       [2.56900e+03, 6.59000e+02, 0.00000e+00, ..., 7.00000e+00,
        4.28000e+03, 2.48758e+04],
       [8.77000e+02, 2.76000e+02, 1.00000e+00, ..., 6.00000e+00,
        4.99200e+03, 5.26219e+04]])

In [45]:
# apply onehotencoder on train_array
from sklearn.preprocessing import OneHotEncoder
# fit onehotencoder only on training set
cat_index=[i for i in range(len(cat))]
ohe=OneHotEncoder(handle_unknown='ignore',categorical_features=cat_index)
train_ohe=ohe.fit_transform(train_oe)
train_ohe

C:\Users\042300\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

<161325x4196 sparse matrix of type '<class 'numpy.float64'>'
	with 1290600 stored elements in COOrdinate format>