## 1. RNN for structured data

In [75]:
import pickle
import numpy as np
with open('data.pickle','rb') as load:
    data=pickle.load(load)
with open('le.pickle','rb') as load:
    le=pickle.load(load)
with open('ohe.pickle','rb') as load:
    ohe=pickle.load(load)
with open('train_test_index.pickle','rb') as load:
    train_test_index=pickle.load(load)
with open('feature_final.pickle','rb') as load:
    feature_final=pickle.load(load)

D:\anaconda3\lib\site-packages\sklearn\base.py:253: UserWarning: Trying to unpickle estimator OrdinalEncoder from version 0.21.2 when using version 0.20.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
D:\anaconda3\lib\site-packages\sklearn\base.py:253: UserWarning: Trying to unpickle estimator OneHotEncoder from version 0.21.2 when using version 0.20.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

### I will use transaction date time feature as the time step. 
### Previously, all samples are taken as iid. By involving the time step feature, all data can be seen as time series data!
### The transaction sequence probably contain some sequential pattern. When we train RF and Xgboost this pattern may lost.
### In order to feed the sequential data into RNN, we have to reshape the samples to 3D: (samples, time_step, input_features)
### Now let's reshape sample first!

In [76]:
import pandas as pd
data_raw=pd.read_json('transactions.txt',lines=True)
data=pd.concat([data,data_raw['transactionDateTime']],axis=1)
data=pd.concat([data,data_raw['isFraud']],axis=1)
data.head(3)

,customerId,acqCountry,cardPresent,merchantCategoryCode,merchantCountryCode,cardCVV,cardLast4Digits,merchantName,posConditionCode,posEntryMode,...,dateOfLastAddressChange_year,dateOfLastAddressChange_month,transactionDateTime_year,transactionDateTime_month,transactionDateTime_time,currentBalance,transactionAmount,creditLimit,transactionDateTime,isFraud
0,733493772,US,False,rideshare,US,492,9184,Lyft,01,05,...,2014,08,2016,01,19,0.00,111.33,5000,2016-01-08T19:04:50,True
1,733493772,US,False,rideshare,US,492,9184,Uber,01,09,...,2014,08,2016,01,22,111.33,24.75,5000,2016-01-09T22:32:39,False
2,733493772,US,False,rideshare,US,492,9184,Lyft,01,05,...,2014,08,2016,01,13,136.08,187.40,5000,2016-01-11T13:36:55,False

### Sort data by transactionDateTime so that all txn are time ordered(Txn is the short name of Transaction)

In [77]:
data=data.sort_values(by='transactionDateTime')

### Divid entire data into pieses groupby customer

In [81]:
g=data.groupby('customerId')
cust_iter=g.__iter__()
cust=[i[1] for i in cust_iter]

In [87]:
print('Each element in the list cust is the collection of txn under each customer!')
print('There are totally %d distinct customers in the dataset!'%len(cust))
print('The first customer has following txn:')
cust[0]

Each element in the list cust is the collection of txn under each customer!
There are totally 5000 distinct customers in the dataset!
The first customer has following txn:

,customerId,acqCountry,cardPresent,merchantCategoryCode,merchantCountryCode,cardCVV,cardLast4Digits,merchantName,posConditionCode,posEntryMode,...,dateOfLastAddressChange_year,dateOfLastAddressChange_month,transactionDateTime_year,transactionDateTime_month,transactionDateTime_time,currentBalance,transactionAmount,creditLimit,transactionDateTime,isFraud
583485,100547107,US,True,fastfood,US,786,1222,Popeyes #414406,01,09,...,2011,10,2016,01,01,0.00,64.66,2500,2016-01-02T01:47:46,False
583486,100547107,US,True,fastfood,US,786,1222,Popeyes #700785,01,80,...,2011,10,2016,01,23,64.66,5.31,2500,2016-01-16T23:35:41,False
583487,100547107,US,True,fastfood,US,786,1222,Arbys #46046,01,02,...,2011,10,2016,01,21,69.97,204.23,2500,2016-01-17T21:50:04,False
583488,100547107,US,True,fastfood,US,786,1222,Shake Shack #968081,08,05,...,2011,10,2016,01,05,274.20,155.28,2500,2016-01-29T05:19:50,False
583489,100547107,US,True,fastfood,US,786,1222,In-N-Out #27394,01,09,...,2011,10,2016,01,20,429.48,91.14,2500,2016-01-30T20:49:10,False
583490,100547107,US,True,fastfood,US,786,1222,Quizno's #205329,01,02,...,2011,10,2016,02,22,0.00,2.80,2500,2016-02-06T22:31:44,False
583491,100547107,US,True,fastfood,US,786,1222,Domino's Pizza #962710,01,05,...,2011,10,2016,02,06,2.80,119.77,2500,2016-02-10T06:48:23,False
583492,100547107,US,True,fastfood,US,786,1222,Domino's Pizza #660134,01,05,...,2011,10,2016,02,08,122.57,211.11,2500,2016-02-11T08:28:07,False
583493,100547107,US,True,fastfood,US,786,1222,Krispy Kreme #122012,01,09,...,2011,10,2016,02,01,333.68,66.23,2500,2016-02-20T01:01:47,False
583494,100547107,US,True,fastfood,US,786,1222,Wendys #327348,01,02,...,2011,10,2016,02,04,399.91,1.06,2500,2016-02-26T04:02:55,False
583495,100547107,US,True,fastfood,US,786,1222,Auntie Anne's #119237,01,09,...,2011,10,2016,03,02,0.00,210.52,2500,2016-03-09T02:29:23,False
583496,100547107,US,True,fastfood,US,786,1222,Burger King #823115,08,05,...,2011,10,2016,03,17,210.52,605.10,2500,2016-03-14T17:22:38,False
583497,100547107,US,False,fastfood,US,786,1222,Wendys #37511,01,02,...,2011,10,2016,03,21,815.62,0.00,2500,2016-03-24T21:53:12,False
583498,100547107,US,True,fastfood,US,786,1222,In-N-Out #186321,01,05,...,2011,10,2016,03,11,815.62,321.36,2500,2016-03-27T11:16:54,False
583499,100547107,US,True,fastfood,US,786,1222,Subway #344185,01,80,...,2011,10,2016,03,05,1136.98,147.13,2500,2016-03-29T05:01:06,False
583500,100547107,US,True,fastfood,US,786,1222,Popeyes #327293,01,09,...,2011,10,2016,04,09,0.00,91.63,2500,2016-04-01T09:23:38,False
583501,100547107,US,True,fastfood,US,786,1222,Tim Hortons #911569,08,02,...,2011,10,2016,04,20,91.63,286.07,2500,2016-04-02T20:23:39,True
583502,100547107,US,True,fastfood,US,786,1222,Domino's Pizza #782997,01,09,...,2011,10,2016,04,16,377.70,72.32,2500,2016-04-05T16:40:08,False
583503,100547107,US,True,fastfood,US,786,1222,Popeyes #203711,01,02,...,2011,10,2016,04,15,450.02,31.63,2500,2016-04-06T15:10:02,False
583504,100547107,US,True,fastfood,US,786,1222,Shake Shack #862124,01,02,...,2011,10,2016,04,22,481.65,246.14,2500,2016-04-28T22:32:13,False
583505,100547107,US,True,fastfood,US,786,1222,Wendys #321988,01,02,...,2011,10,2016,05,21,0.00,186.10,2500,2016-05-01T21:45:17,False
583506,100547107,US,True,fastfood,US,786,1222,Wendys #254264,01,05,...,2011,10,2016,05,19,186.10,5.89,2500,2016-05-03T19:06:15,False
583507,100547107,US,True,fastfood,US,786,1222,Subway #19692,01,05,...,2011,10,2016,05,07,191.99,28.52,2500,2016-05-10T07:48:47,False
583508,100547107,US,True,fastfood,US,786,1222,McDonalds #826511,01,09,...,2011,10,2016,05,23,220.51,22.04,2500,2016-05-11T23:30:35,False
583509,100547107,US,True,fastfood,US,786,1222,Popeyes #255329,01,09,...,2011,10,2016,05,04,242.55,16.65,2500,2016-05-14T04:48:02,False
583510,100547107,US,False,mobileapps,US,786,1222,Apple iTunes,01,09,...,2011,10,2016,05,19,259.20,0.00,2500,2016-05-29T19:23:34,False
583511,100547107,US,True,fastfood,US,786,1222,Subway #44482,01,05,...,2011,10,2016,06,02,0.00,23.91,2500,2016-06-04T02:23:08,False
583512,100547107,US,True,fastfood,US,786,1222,Dunkin' Donuts #149540,08,05,...,2011,10,2016,06,14,23.91,23.56,2500,2016-06-14T14:30:50,False
583513,100547107,US,True,food,US,786,1222,NY Deli,08,05,...,2011,10,2016,06,18,47.47,18.50,2500,2016-06-16T18:59:21,False
583514,100547107,US,True,fastfood,US,786,1222,McDonalds #472384,08,90,...,2011,10,2016,06,19,65.97,58.39,2500,2016-06-17T19:18:30,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583540,100547107,US,True,fastfood,US,786,1222,McDonalds #343653,01,05,...,2011,10,2016,09,09,689.61,228.59,2500,2016-09-26T09:47:53,False
583541,100547107,US,True,fastfood,US,786,1222,Subway #916185,01,09,...,2011,10,2016,09,16,918.20,79.11,2500,2016-09-29T16:12:05,False
583542,100547107,US,False,mobileapps,US,786,1222,Apple iTunes,01,09,...,2011,10,2016,10,15,0.00,0.00,2500,2016-10-01T15:52:40,False
583543,100547107,US,True,fastfood,US,786,1222,Subway #532024,01,05,...,2011,10,2016,10,09,0.00,48.84,2500,2016-10-09T09:58:08,False
583544,100547107,US,True,fastfood,US,786,1222,Quizno's #808797,01,09,...,2011,10,2016,10,08,48.84,422.58,2500,2016-10-12T08:33:49,False
583545,100547107,US,True,fastfood,US,786,1222,Dunkin' Donuts #386095,01,09,...,2011,10,2016,10,04,471.42,150.60,2500,2016-10-18T04:28:53,False
583546,100547107,US,True,fastfood,US,786,1222,Domino's Pizza #824786,01,09,...,2011,10,2016,10,01,622.02,79.30,2500,2016-10-23T01:17:02,False
583547,100547107,US,False,mobileapps,US,786,1222,Apple iTunes,01,09,...,2011,10,2016,11,12,0.00,0.00,2500,2016-11-02T12:25:24,False
583548,100547107,US,False,fastfood,US,786,1222,Krispy Kreme #348894,01,09,...,2011,10,2016,11,07,0.00,111.84,2500,2016-11-06T07:03:46,False
583549,100547107,US,True,fastfood,US,786,1222,Hardee's #998351,08,05,...,2011,10,2016,11,21,111.84,54.78,2500,2016-11-06T21:59:46,False
583550,100547107,US,True,fastfood,US,786,1222,Subway #674422,01,05,...,2011,10,2016,11,22,166.62,118.78,2500,2016-11-08T22:43:37,False
583551,100547107,US,True,fastfood,US,786,1222,Taco Bell #113312,01,05,...,2011,10,2016,11,15,285.40,101.02,2500,2016-11-13T15:36:15,False
583552,100547107,US,True,fastfood,US,786,1222,KFC #339788,01,09,...,2011,10,2016,11,07,386.42,351.73,2500,2016-11-14T07:19:27,False
583553,100547107,US,True,fastfood,US,786,1222,KFC #599920,01,09,...,2011,10,2016,11,04,738.15,187.52,2500,2016-11-18T04:35:47,False
583554,100547107,US,True,fastfood,US,786,1222,Starbucks #699618,01,05,...,2011,10,2016,11,12,925.67,100.87,2500,2016-11-19T12:48:19,False
583555,100547107,US,True,fastfood,US,786,1222,Popeyes #832748,08,05,...,2011,10,2016,11,20,1026.54,35.89,2500,2016-11-23T20:55:57,False
583556,100547107,US,True,fastfood,US,786,1222,Cinnabon #297301,01,02,...,2011,10,2016,11,15,1062.43,208.85,2500,2016-11-28T15:20:16,False
583557,100547107,US,True,fastfood,US,786,1222,Quizno's #537448,01,05,...,2011,10,2016,11,20,1271.28,110.45,2500,2016-11-29T20:15:45,False
583558,100547107,US,True,fastfood,US,786,1222,Quizno's #353204,01,02,...,2011,10,2016,11,08,1381.73,310.15,2500,2016-11-30T08:17:15,False
583559,100547107,US,True,fastfood,US,786,1222,Burger King #58323,01,09,...,2011,10,2016,12,10,0.00,91.32,2500,2016-12-01T10:05:47,False
583560,100547107,US,False,mobileapps,US,786,1222,Apple iTunes,01,09,...,2011,10,2016,12,10,91.32,0.00,2500,2016-12-03T10:29:33,False
583561,100547107,US,True,fastfood,US,786,1222,Tim Hortons #875776,01,09,...,2011,10,2016,12,12,91.32,274.60,2500,2016-12-05T12:04:57,False
583562,100547107,US,True,fastfood,US,786,1222,Five Guys #723654,01,05,...,2011,10,2016,12,09,365.92,28.92,2500,2016-12-09T09:37:08,False
583563,100547107,US,True,fastfood,US,786,1222,Wendys #828220,01,05,...,2011,10,2016,12,22,394.84,338.71,2500,2016-12-14T22:19:29,False
583564,100547107,US,True,fastfood,US,786,1222,Subway #540372,01,05,...,2011,10,2016,12,19,733.55,316.52,2500,2016-12-19T19:11:13,False
583565,100547107,US,True,fastfood,US,786,1222,Subway #540372,01,05,...,2011,10,2016,12,19,1050.07,316.52,2500,2016-12-19T19:11:57,False
583566,100547107,US,True,fastfood,US,786,1222,Subway #47890,01,05,...,2011,10,2016,12,12,733.55,157.43,2500,2016-12-20T12:33:24,False
583567,100547107,US,False,fastfood,US,786,1222,Hardee's #584398,01,05,...,2011,10,2016,12,05,890.98,188.85,2500,2016-12-22T05:58:40,False
583568,100547107,US,True,fastfood,US,786,1222,McDonalds #57688,01,05,...,2011,10,2016,12,22,1079.83,51.26,2500,2016-12-25T22:57:44,False
583569,100547107,US,True,fastfood,US,786,1222,Domino's Pizza #490157,01,05,...,2011,10,2016,12,15,1131.09,130.00,2500,2016-12-30T15:50:17,False

### Txn Count Distribution

In [86]:
#Cust_len is a list with the txn_count value for each customer 
cust_len=np.array([len(i) for i in cust])
print('Max of txn_count:%d'%cust_len.max())
print('Min of txn_count:%d'%cust_len.min())
print('Median of txn_count:%d'%np.median(cust_len))
print('The top 10 txn_count value is as following, the left column is txn_count, right is count_value')
print(pd.Series(cust_len).value_counts()[:10])

Max of txn_count:10034
Min of txn_count:1
Median of txn_count:47
The top 10 txn_count value is as following, the left column is txn_count, right is count_value
11    79
14    79
20    78
10    75
23    72
15    72
13    71
27    68
22    67
19    66
dtype: int64

### Generate new features rolling average & deviance for each customer

In [109]:
from tqdm import tqdm_notebook as tqdm
cust_new=[]
for i in tqdm(cust):
    i['win_5_mean']=i['transactionAmount'].rolling(5,center=True,min_periods=1).mean()
    i['win_10_mean']=i['transactionAmount'].rolling(10,center=True,min_periods=1).mean()
    i['dev_5']=np.abs(i['transactionAmount']-i['win_5_mean'])
    i['dev_10']=np.abs(i['transactionAmount']-i['win_10_mean'])
    cust_new.append(i)
with open('cust_new.pickle','wb') as save:
    pickle.dump(cust_new,save)

HBox(children=(IntProgress(value=0, max=5000), HTML(value='')))

### For any customer with txn_count<10, expend txn_count to 10 by adding all columns as 0.

In [111]:
#Load cust_new from disk to avoid running above new feture generation process again
with open('cust_new.pickle','rb') as load:
    cust_new=pickle.load(load)

In [153]:
#Padding for customer with txn_count<10
padding_index=np.where(cust_len<10)[0] #index of customers with txn_count<10
cols=cust_new[0].columns #column_names of cust_new
for i in padding_index:
    padding_row_count=10-len(cust_new[i]) #how many padding rows need to be append for this customer i
    padding_df=pd.DataFrame(data=np.zeros((padding_row_count,len(cols))),columns=cols) #generate padding dataframe 
    cust_new[i]=cust_new[i].append(padding_df) #Append padding df to customer i

In [156]:
#Test if txn_count>10 for all customers
any([len(i)<10 for i in cust_new]) # All customers have at least 10 txn now!

False

### Reshape samples with time_step=10 for each customer

In [193]:
#generate samples(1,time_step,input_feat) based on the single txn_df of each customer with window size=10
#txn_df is just the df in cust_new
def moving_window_sample_generator(df,size=10):
    if len(df)<size:
        print('The length of df is smaller than window size!')
    else:
        sample_list=[]  #new list to contain all moving window samples
                        #move the win_head from first row to last row of df
                        #if the win_tail > last row of df, break the loop
                        #else create a new sample with size=10
        for i in range(len(df)): 
            win_head=i 
            win_tail=i+size
            if win_tail >= len(df):
                break
            else:
                sample=df.iloc[win_head:win_tail,:]
                # the new sample is not a single txn anymore
                # it is a df with 10 txn 
                # in order to under/over sampleing for such samples, I will use following strategy:
                # if there is one more more than one fraud txn in a sample, I will take it as 1, else 0 as fraud indicator
                # this strategy will make the count of samples containing fraud txn = count of samples without any fraud txn
                sample_fraud_label=int(any(sample['isFraud']))
                sample_list.append((sample,sample_fraud_label))
    return sample_list

In [198]:
#Let's take an example
ex=moving_window_sample_generator(cust_new[0])
print('Based on the above algrithm, the sample count formula for a df is as following:')
print('sample_count = len_df - 9')
print('the txn_count of the first customer in cust_new is %d'%len(cust_new[0]))
print('the count of generated samples for the first customer in cust_new is %d'%len(ex))
print('The dimension of any new sample now is 10*31')
ex[0][0]

Based on the above algrithm, the sample count formula for a df is as following:
sample_count = len_df - 9
the txn_count of the first customer in cust_new is 85
the count of generated samples for the first customer in cust_new is 75
The dimension of any new sample now is 10*31

,customerId,acqCountry,cardPresent,merchantCategoryCode,merchantCountryCode,cardCVV,cardLast4Digits,merchantName,posConditionCode,posEntryMode,...,transactionDateTime_time,currentBalance,transactionAmount,creditLimit,transactionDateTime,isFraud,win_5_mean,win_10_mean,dev_5,dev_10
583485,100547107,US,True,fastfood,US,786,1222,Popeyes #414406,01,09,...,01,0.00,64.66,2500,2016-01-02T01:47:46,False,91.400,104.124000,26.740,39.464000
583486,100547107,US,True,fastfood,US,786,1222,Popeyes #700785,01,80,...,23,64.66,5.31,2500,2016-01-16T23:35:41,False,107.370,87.236667,102.060,81.926667
583487,100547107,US,True,fastfood,US,786,1222,Arbys #46046,01,02,...,21,69.97,204.23,2500,2016-01-17T21:50:04,False,104.124,91.884286,100.106,112.345714
583488,100547107,US,True,fastfood,US,786,1222,Shake Shack #968081,08,05,...,05,274.20,155.28,2500,2016-01-29T05:19:50,False,91.752,106.787500,63.528,48.492500
583489,100547107,US,True,fastfood,US,786,1222,In-N-Out #27394,01,09,...,20,429.48,91.14,2500,2016-01-30T20:49:10,False,114.644,102.281111,23.504,11.141111
583490,100547107,US,True,fastfood,US,786,1222,Quizno's #205329,01,02,...,22,0.00,2.80,2500,2016-02-06T22:31:44,False,116.020,92.159000,113.220,89.359000
583491,100547107,US,True,fastfood,US,786,1222,Domino's Pizza #962710,01,05,...,06,2.80,119.77,2500,2016-02-10T06:48:23,False,98.210,106.745000,21.560,13.025000
583492,100547107,US,True,fastfood,US,786,1222,Domino's Pizza #660134,01,05,...,08,122.57,211.11,2500,2016-02-11T08:28:07,False,80.194,166.724000,130.916,44.386000
583493,100547107,US,True,fastfood,US,786,1222,Krispy Kreme #122012,01,09,...,01,333.68,66.23,2500,2016-02-20T01:01:47,False,121.738,146.301000,55.508,80.071000
583494,100547107,US,True,fastfood,US,786,1222,Wendys #327348,01,02,...,04,399.91,1.06,2500,2016-02-26T04:02:55,False,218.804,162.909000,217.744,161.849000

In [229]:
#Generate new samples for all customers
cust_final=[]
for cust in tqdm(cust_new[:30]):
    cust_final.append(moving_window_sample_generator(cust))
with open('cust_final.pickle','wb') as save:
    pickle.dump(cust_final,save)

HBox(children=(IntProgress(value=0, max=30), HTML(value='')))

In [205]:
#currently, the cust_final has three dimensions
#the length of first dimension is 5000, indicates all customers
#the second dimesnion indicates a list of all samples generated by moving_window for a customer
#the third dimension is a tuple(single sample(10*31),fraud_indicator(scalar))
print('the length of cust_final is: %d'%len(cust_final))
print('the fraud_indicator for this sample is: %d'%cust_final[0][0][1])
print('the sample is as following:')
cust_final[0][0][0]

the length of cust_final is: 30
the fraud_indicator for this sample is: 0
the sample is as following:

,customerId,acqCountry,cardPresent,merchantCategoryCode,merchantCountryCode,cardCVV,cardLast4Digits,merchantName,posConditionCode,posEntryMode,...,transactionDateTime_time,currentBalance,transactionAmount,creditLimit,transactionDateTime,isFraud,win_5_mean,win_10_mean,dev_5,dev_10
583485,100547107,US,True,fastfood,US,786,1222,Popeyes #414406,01,09,...,01,0.00,64.66,2500,2016-01-02T01:47:46,False,91.400,104.124000,26.740,39.464000
583486,100547107,US,True,fastfood,US,786,1222,Popeyes #700785,01,80,...,23,64.66,5.31,2500,2016-01-16T23:35:41,False,107.370,87.236667,102.060,81.926667
583487,100547107,US,True,fastfood,US,786,1222,Arbys #46046,01,02,...,21,69.97,204.23,2500,2016-01-17T21:50:04,False,104.124,91.884286,100.106,112.345714
583488,100547107,US,True,fastfood,US,786,1222,Shake Shack #968081,08,05,...,05,274.20,155.28,2500,2016-01-29T05:19:50,False,91.752,106.787500,63.528,48.492500
583489,100547107,US,True,fastfood,US,786,1222,In-N-Out #27394,01,09,...,20,429.48,91.14,2500,2016-01-30T20:49:10,False,114.644,102.281111,23.504,11.141111
583490,100547107,US,True,fastfood,US,786,1222,Quizno's #205329,01,02,...,22,0.00,2.80,2500,2016-02-06T22:31:44,False,116.020,92.159000,113.220,89.359000
583491,100547107,US,True,fastfood,US,786,1222,Domino's Pizza #962710,01,05,...,06,2.80,119.77,2500,2016-02-10T06:48:23,False,98.210,106.745000,21.560,13.025000
583492,100547107,US,True,fastfood,US,786,1222,Domino's Pizza #660134,01,05,...,08,122.57,211.11,2500,2016-02-11T08:28:07,False,80.194,166.724000,130.916,44.386000
583493,100547107,US,True,fastfood,US,786,1222,Krispy Kreme #122012,01,09,...,01,333.68,66.23,2500,2016-02-20T01:01:47,False,121.738,146.301000,55.508,80.071000
583494,100547107,US,True,fastfood,US,786,1222,Wendys #327348,01,02,...,04,399.91,1.06,2500,2016-02-26T04:02:55,False,218.804,162.909000,217.744,161.849000

### Generate train and test data

In [256]:
from random import sample as random_sample
#since current sample is a df not single row, do not use train_test_split
#shuffle samples amoung all customers
shuffle_sample=[]
for cust in cust_final:
        for sample in cust:
            shuffle_sample.append(sample)
#generate sample index, train_index, test_index            
index=[i for i in range(len(shuffle_sample))]
test_len=int(len(index)*0.2)
test_index=random_sample(index,test_len)
train_index=list(set(index).difference(set(test_index)))

In [257]:
train=[shuffle_sample[i] for i in train_index]
test=[shuffle_sample[i] for i in test_index]

### Under Sampleing
### I will use under sampleing here, generate samples with balanced class from training set

In [260]:
#Create a function to generate balanced sample
from random import sample as random_sample
def balanced_sample_generator(data):
    #Shuffle samples amoung all customers
    shuffle_fraud=[]
    shuffle_norm=[]
    for sample in data:
        if sample[1]==1:
            shuffle_fraud.append(sample[0])
        else:
            shuffle_norm.append(sample[0])

    #random select normal samples to the length of fraud samples
    fraud_len=len(shuffle_fraud)
    under_norm=random_sample(shuffle_norm,fraud_len)
    print('fraud sample length is: %d'%len(shuffle_fraud))
    print('normal sample length is: %d'%len(under_norm))

    #Combine fraud and normal
    sample_final=shuffle_fraud.copy()
    sample_final.extend(under_norm)
    print('final sample length is: %d'%len(sample_final))
    return sample_final
    
train_balanced=balanced_sample_generator(train)

fraud sample length is: 216
normal sample length is: 216
final sample length is: 432

### Encoding for balanced dataset

In [262]:
with open('le.pickle','rb') as load:
    le=pickle.load(load)
with open('ohe.pickle','rb') as load:
    ohe=pickle.load(load)
with open('feature_final.pickle','rb') as load:
    feature_final=pickle.load(load)

D:\anaconda3\lib\site-packages\sklearn\base.py:253: UserWarning: Trying to unpickle estimator OrdinalEncoder from version 0.21.2 when using version 0.20.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
D:\anaconda3\lib\site-packages\sklearn\base.py:253: UserWarning: Trying to unpickle estimator OneHotEncoder from version 0.21.2 when using version 0.20.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [271]:
feature_category=feature_final[:22]#the ahead 22 features are categorical, rest are interval
feature_category

['customerId',
 'acqCountry',
 'cardPresent',
 'merchantCategoryCode',
 'merchantCountryCode',
 'cardCVV',
 'cardLast4Digits',
 'merchantName',
 'posConditionCode',
 'posEntryMode',
 'transactionType',
 'expirationDateKeyInMatch',
 'CVVInMatch',
 'accountOpenDate_year',
 'accountOpenDate_month',
 'currentExpDate_year',
 'currentExpDate_month',
 'dateOfLastAddressChange_year',
 'dateOfLastAddressChange_month',
 'transactionDateTime_year',
 'transactionDateTime_month',
 'transactionDateTime_time']

In [297]:
feature_interval=['currentBalance','transactionAmount','creditLimit','win_5_mean','win_10_mean','dev_5','dev_10']

In [315]:
#To explain more clearly, not use pipeline here, encoding step by step
#ordinal encoding for all categorical features & combine interval features:
train_le=[np.append(le.transform(sample[feature_category]), #transform categorical features to numeric
                    np.array(sample[feature_interval]),     #combine interval features
                    axis=1) for sample in train_balanced]
#train_y is a 2D array
train_y=np.array([sample['isFraud'] for sample in train_balanced])

#onehot encoding
train_ohe=[ohe.transform(sample) for sample in train_le]

#take a look at sample
train_ohe[0]

# Dimension Deduction & StandardScaler can be also used here

<10x13682 sparse matrix of type '<class 'numpy.float64'>'
	with 287 stored elements in COOrdinate format>

In [302]:
with open('LSTM_train_X.pickle','wb') as save:
    pickle.dump(train_ohe,save)
with open('LSTM_train_y.pickle','wb') as save:
    pickle.dump(train_y,save)

### Modeling

In [316]:
from keras.models import Sequential
from keras.layers import Dense, LSTM, TimeDistributed, Dropout
import tensorflow as tf
from keras.callbacks import EarlyStopping, ModelCheckpoint
n_steps = 10
n_inputs = 13682
n_neurons = 10
n_outputs = 1
keep_prob=0.9
lr=0.001
epochs=10
batch_size=300

model=Sequential()
model.add(LSTM(100,return_sequences=True,input_shape=(n_steps,n_inputs)))
model.add(LSTM(50,return_sequences=True))
model.add(LSTM(30,return_sequences=True))
model.add(TimeDistributed(Dense(1,activation='sigmoid')))
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy',recall,precision])
print(model.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_4 (LSTM)                (None, 10, 100)           5513200
_________________________________________________________________
lstm_5 (LSTM)                (None, 10, 50)            30200
_________________________________________________________________
lstm_6 (LSTM)                (None, 10, 30)            9720
_________________________________________________________________
time_distributed_2 (TimeDist (None, 10, 1)             31
=================================================================
Total params: 5,553,151
Trainable params: 5,553,151
Non-trainable params: 0
_________________________________________________________________
None

In [317]:
##earlystoping
es=EarlyStopping(monitor='val_loss',mode='auto',verbose=1,patience=3)
##save best model
mc=ModelCheckpoint('lstm_best.h5',monitor='val_recall',mode='min',verbose=1,save_best_only=True)
###training
model.fit(train_ohe,train_y,epochs=epochs,validation_split=0.3,
          batch_size=batch_size,verbose=2,callbacks=[mc,es],
          )

ValueError: Error when checking model input: the list of Numpy arrays that you are passing to your model is not the size the model expected. Expected to see 1 array(s), but instead got the following list of 432 arrays: [<10x13682 sparse matrix of type '<class 'numpy.float64'>'
	with 287 stored elements in COOrdinate format>, <10x13682 sparse matrix of type '<class 'numpy.float64'>'
	with 287 stored elements in COOrd...